body
{
/* background-color:ffffff; */
background-image: url("https://www.flickr.com/photos/greencolander/2194251536/in/photolist-7HgDb5-aVhz5n-78xmpZ-bK7QB8-5xNDPm-gnicMv-4BokpR-5Lt3EA-dLkHsV-8vmBFk-6Yhy2o-5U1Uhn-8nytQW-7GnGRV-65HBQD-oytDio-aG2yzg-tAe2T-4kU7x3-bYHY2y-oytDb9-oQGd22-65k5AV-b2Xvf-4Ajnr-e5ieo1-H9utw-eihfG1-4S2VT1-aPHGx8-4Ajqg-cbzvEA-bSTdnz-9eJK8W-9eFCan-9eJJPA-9eFCVX-9eFCgH-9eJK5G-9eJHZ9-9eFCHg-9eJJ8J-9eFCjH-9eJJ47-9eJK2L-9eFCuF-9eJJYN-9eFCLk-9eJJSw-9eFCCP");

}

*{
  font-family: Arial, Verdana;

}

#container {
	width: 960px;
	margin: 0 auto 0 auto;
	min-height: 900px;
}
	
nav  {
	background-color: #FF6699;
	color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	
        }	

div
{
background-color:#ffffff;
display: block;
width: 760px
float: both;
}

footer {
	background-color: #FF6699;
	color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	
       }
