body
{
/* background-color:ffffff; */
background-image: url("]https://farm3.staticflickr.com/2088/2194251536_330cccd04a_s.jpg");

}

*{
  font-family: Arial, Verdana;

}

#container {
	width: 960px;
	margin: 0 auto 0 auto;
	min-height: 900px;
}
	
nav  {
	background-color: #FF6699;
	color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	
        }	

div
{
background-color:#ffffff;
display: block;
width: 760px
float: both;
}

footer {
	background-color: #FF6699;
	color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	
       }
