


body
{

/* background-color:ffffff; */
background-image: url("");

}

@-ms-viewport {
  width: device-width;
        }

*{
  font-family: Arial, Verdana;

}


	
nav  {
	background-color: #FFFFFF;
	color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	
        }
        
li    {
	background-color: #FF6699; 
	color: #FFFFFF;
	position: relative;
	/*top: 26px;
	left: 16%; */
	display: inline;
	margin: 5px;
	padding: 5px;
	
	}


footer {
	background-color: #FF6699;
	color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	
       }
