@-ms-viewport {
  width: device-width;
        }

*{
  font-family: Helvetica Neue, helvetica;

}

body { text-align: center; }

#logo {
  width: 100%;
  margin: 0px;
  position: absolute;
 
}



	
nav  {
	background-color: #FFFFFF;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
    	margin-top:-3%;

	position: relative;
	text-align:center;
        }
        
        
        ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}


li    {
	background-color: #ffffff; 
	color: #000000;
	position: relative;
	/*top: 26px;
	left: 16%; */
	display: inline-block;
	padding: 5px;
	margin-top:0%;
	
	}
	#link_cont{
	margin_top:-10%;
	
	
	
#social {

position: relative;
right: 300px;
    
}


#container {
  width: 100%;
  margin: auto;
}

#image {
  width: 70%;
  margin: auto;
  position: relative;
  padding: 45px;
 
}


footer {
	background-color: #ffffff;
	color: #000000;
	margin: 0 auto;
	padding: 5px;

	position: relative;
       }
